$primary-color: #ff8310;
$background-dark: #232323;
$background-medium: #191a20;
$background-light: #393939;
$text-light: #ccc;
$text-white: #fff;
$border-radius: 8px;
$font-family: "Poppins", sans-serif;
