@import "/src/app/styles/variables";

.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 679px;
  height: 100vh;
  border-radius: 5px;
  background: $background-dark;
  box-shadow: -29px 0 9.8 #000;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  padding: 16px;
  z-index: 1000;

  &.open {
    transform: translateX(0);
    z-index: 999;
  }

  .cart-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 100%;

    .cart-header-arrow-icon {
      background-color: #373737;
      width: 60px;
      height: 60px;
      border-radius: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    h2 {
      font-size: 1.4rem;
      color: $text-white;
      line-height: 110%;
      text-align: center;
      flex-grow: 1;
    }

    button {
      background: none;
      border: none;
      cursor: pointer;
    }
  }

  .cart-items {
    flex-grow: 1;
    overflow-y: auto;
    margin-top: 16px;

    .cart-item {
      display: flex;
      align-items: center;
      background: #2b2b2b;
      border-radius: $border-radius;
      padding: 17px 30px;
      margin-bottom: 12px;
      height: 200px;
      width: 619px;

      img {
        border-radius: $border-radius;
      }

      .cart-info {
        margin: 0px 30px;
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 13px;

        .cart-item-info-container {
          width: 100%;
        }

        .cart-item-name {
          font-size: 1.125rem;
          font-weight: 500;
          line-height: 140%;
          color: $text-white;
        }

        .cart-item-description {
          display: -webkit-box;
          font-size: 0.75rem;
          font-weight: 300;
          color: $text-light;
          line-height: 12px;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
          line-clamp: 1;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .price-container {
          display: flex;
          align-items: center;
          gap: 8px;
          font-size: 1rem;
          color: $text-white;
        }
      }

      .checkout-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .quantity-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $background-dark;
        padding: 12px 8px;
        border-radius: $border-radius;
        width: 115px;
        height: 49px;
      }

      .quantity-text {
        font-size: 0.8rem;
        font-weight: 600;
        color: $text-white;
        line-height: 20px;
      }

      .quantity-btn {
        border: none;
        background-color: transparent;
        cursor: pointer;
      }

      .trash-icon {
        cursor: pointer;
        border: 1.3px solid;
        background-color: $primary-color;
        width: 43px;
        height: 43px;
        border-radius: 43px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .empty-cart {
    color: $text-white;
    text-align: center;
  }

  .cart-footer {
    padding-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;

    .cart-footer-total {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 1.2rem;
      color: $text-white;
      width: 100%;
      padding: 58px 20.5px;
    }

    .total-text {
      font-size: 1.5rem;
      font-weight: 700;
      letter-spacing: -1px;
      line-height: 26px;
      text-transform: uppercase;
      color: $text-white;
    }

    .total-price {
      font-weight: 600;
      font-size: 1.5rem;
      line-height: 110%;
      color: #f0f0f0;
      text-transform: uppercase;
    }

    .cart-footer-price {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .checkout-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }

    .checkout-button {
      background: $primary-color;
      border: none;
      border-radius: $border-radius;
      padding: 10px 26px;
      font-size: 1rem;
      font-weight: bold;
      text-transform: uppercase;
      color: $text-white;
      cursor: pointer;
      width: 620px;
      height: 81px;
      margin-top: 12px;
      transition: 0.3s;

      &:hover {
        background: darken($primary-color, 10%);
      }
    }
  }
}
